.app-section {
    padding-top: 129px;
    padding-bottom: 30px;
    text-align: center;
    position: relative;
    
    margin-bottom: -3px;
    &__title {
        position: absolute;
        right: -30px;
        color: $basic-white;
        font-size: 38px;
        line-height: normal;
        margin: 6px 0px;
        font-weight: 700;
    }
    &__btn  {
        margin-top: 302px;
        border: none;
        background: transparent;
        text-align: center;
        transition-duration: 300ms;
        transition-property: transform;
        &:hover .hover  {
            stroke: $accent;
            transform: translateY(2%);
        }
    }
}

@media (min-width:768px) {
    .app-section {
        padding-top: 269px;
        &__title {
            left: -32px;
            top: 268px;
        }
        &btn-box {
            margin-bottom: 165px;
        }
    }
}

@media (min-width:992px) {
    .app-section {
        padding-top: 279px;
        &__title {
            top: 241px;
        }
    }
}

@media (min-width:1200px) {
    .app-section {
        padding-top: 261px;
        &__title {
            margin-bottom: 305px;
        }
    }
}


