.tabs {
    text-align: center;
    padding-left: 0;
    list-style-type: none;
    display: grid;
    justify-content: center;
    justify-items: center;
    grid-template-columns: min-content min-content min-content;
    gap: 15px;
    &__element {
        width: 16px;
        height: 16px;
        border-radius: 50%;
        background: $blue-soft-tab;
        padding: 0;
        border: none;
        cursor: pointer;
        &.active {
            background: $active-regular
        }
        &:hover {
            background: $blue-hover-tab
        }
    }
}